{%extends 'index.html'%}
{%block content%}
<!-- The Code are contained in the bootstrap grid
page has a container and each container contains a row, within the rows
are columns, the columns contain the information. -->
<div class="container">
    <div class="row">
        <div class="col feedBox feedBoxSwell">
            <h1>Flask Server Side Rendering</h1>
            <button class="btn" id="toggleButton">
                Click Me
            </button>
        </div>
    </div>
    <div class="row">
        <div id="expandableContent" style="display: none;">
            <div class="row">
                <div class="col-md feedBox feedBoxSwell">
                    <h1>Server Side</h1>
                    <p>The server builds the HTML when it recieves the request and sends it to the client.</p>
                    <img src="../static/Images/ServerSide.png" alt="ServerSideRendering" style="width: 300px; height: 200px;">
                </div>
                <div class="col-md feedBox feedBoxSwell" style="height: 350px">
                    <h1>Client Side</h1>
                    <p>The server sends JS and an HTML skeleton to the client, and the client can then request JSON and build the HTML using AJAX and jQuery.</p>
                    <img src="../static/Images/ServerSide.png" alt="ClientSideRendering">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col feedBox feedBoxSwell">
            <h1>Flask Client Side Rendering</h1>
            <button class="btn" id="toggleButton">
                Click Me
            </button>
        </div>
    </div>
    <div class="row">
        <div id="expandableContent" style="display: none;">
            <div class="row">
                <div class="col-md feedBox feedBoxSwell" style="height: 350px;">
                    <h1>Server Side</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, hic?</p>
                </div>
                <div class="col-md feedBox feedBoxSwell" style="height: 350px">
                    <h1>Client Side</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, odio!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}