{%extends 'index.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col feedBox feedBoxSwell">
            <h1>REST</h1>
            <p>(Representational State Transfer) are Architectures for the web that describe interactions with web based
                resources.
            </p>
            <h1>API</h1>
            <p>Application Programming interface are used so two websites can communicate
                over the internet.
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md feedBox" style="height: 350px;">
            <h1>1. Client Server Model</h1>
            <p>
                Seperates the Roles within the server, The client and the server 
                communicate throught the HTTP Requests and TCP/IP
            </p>
        </div>
        <div class="col-md feedBox" style="height: 350px;">
            <h1>2. Layered System</h1>
            <p>States that there doesn't need to be a direct link between
                the client and the server rather it can use intermediate nodes
                through proxy chaining.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md feedBox" style="height: 350px;">
            <h1>3. Cache</h1>
            <p>States that the user can use local browser cache to
                store previous HTTP requests, so the user does not need to
                access the server every time <em>Good for efficiency</em>
            </p>
        </div>
        <div class="col-md feedBox" style="height: 350px;">
            <h1>4. Code On Demand</h1>
            <p>
                States that the server can provide executable code in
                response to a request.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md feedBox" style="height: 350px;">
            <h1>5. Stateless</h1>
            <p>Statelessness is a key property in HTTP, memory of prior transactions
                should not be saved and a request must contain sufficient context to
                receive a response.
            </p>
        </div>
        <div class="col-md feedBox" style="height: 350px;">
            <h1>6. Uniform Interface</h1>
            <p>
                Uniform Interface is used so that the client does not have to create a 
                new UI everytime they want to access the server.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md feedBox">
            <h2>
                How do <em>RESTful API</em> use <em>HTTP</em> verbs to map URLS to perform CRUD.
                <span><button id="toggleButton" class="btn">Click me</button></span>
            </h2>
            
        </div>
    </div>
    <div class="row">
        <div id="expandableContent" style="display: none;">
            <div class="col-md feedBox feedBoxSwell">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, id.</h2>
            </div>
        </div>
    </div>
</div>


{%endblock content%}